@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
:root {
    --header-link-color: rgb(255, 255, 255);
    --body-font: 'Open Sans', sans-serif;
    --special-font: 'Roboto', sans-serif;
    --body-padding: 1em 10em;
}
* {
    box-sizing: border-box;
    font-family: var(--body-font);
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right,#0b1425,rgb(34, 34, 36));
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2em;
    background: transparent;
    padding: var(--body-padding);
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

#logo {
    height: 4rem;
    width: 10rem;
    border-radius: 2rem;
}

.nav-flex-container {
    display: flex;
    column-gap: 1em;
}
#menu-icon {
    display: none;
}
.nav-links {
    text-transform: capitalize;
    text-decoration: none;
    color: var(--header-link-color);
    position: relative;
}
.nav-links:after {
    position: absolute;
    content: "";
    width: 0;
    bottom: -.6em;
    left: 0;
    height: 0.1em;
    background-image: linear-gradient(to bottom right,red,orangered);
    transition: width .35s ease-in;
}
.nav-links:hover::after {
    width: 100%;
}
.download-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right,rgb(223, 105, 62),orangered);
    column-gap: 1em;
    text-decoration: none;
    padding: 0.4em 0.6em;
    border-radius: 1em;
    color: var(--header-link-color);
}
.introduction {
    height: clamp(30rem,90vh,35rem);   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2em;
    text-align: center;
    padding: var(--body-padding);
    color: var(--header-link-color);
    & > div:first-child, div:nth-child(2) {
        font-family: var(--special-font);
    }
    & > div:nth-child(2) {
        font-size: 4rem;
        color: rgb(30, 255, 0);
    }
}

.my-photo {
    height: 80%;
    width: 35%;
    min-width: 17rem;
    border-radius: 2rem;
}
@media screen and (max-width: 1040px) {
    :root {
        --body-padding: 2em 5em;
    }
}
@media screen and (max-width: 862px) {
    :root {
        --body-padding: 2em 3em;
    }
}
@media screen and (max-width: 800px) {
    .download-link {
        
    }
    .nav-flex-container {
        order: 1;
    }
    .nav-links {
        display: none;
    }
    #menu-icon {
        display: block;
        padding: 0;
    }
}