@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
:root {
  --header-link-color: rgb(255, 255, 255);
  --body-font: 'Open Sans', sans-serif;
  --special-font: 'Roboto', sans-serif;
  --body-padding: 1em 10em;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--body-font);
}

body {
  margin: 0;
  padding: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#0b1425), to(#222224));
  background-image: linear-gradient(to bottom right, #0b1425, #222224);
  color: white;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 2em;
          column-gap: 2em;
  padding: var(--body-padding);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

#logo {
  height: 4rem;
  width: 10rem;
  border-radius: 2rem;
}

.nav-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1em;
          column-gap: 1em;
}

#menu-icon {
  display: none;
}

.nav-links {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--header-link-color);
  position: relative;
}

.nav-links:after {
  position: absolute;
  content: "";
  width: 0;
  bottom: -.6em;
  left: 0;
  height: 0.1em;
  background-image: -webkit-gradient(linear, left top, right bottom, from(red), to(orangered));
  background-image: linear-gradient(to bottom right, red, orangered);
  -webkit-transition: width .35s ease-in;
  transition: width .35s ease-in;
}

.nav-links:hover::after {
  width: 100%;
}

.download-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#df693e), to(orangered));
  background-image: linear-gradient(to bottom right, #df693e, orangered);
  -webkit-column-gap: 1em;
          column-gap: 1em;
  text-decoration: none;
  padding: 0.4em 0.6em;
  border-radius: 1em;
  color: var(--header-link-color);
}

@-webkit-keyframes changingColor {
  from {
    color: #1eff00;
  }
  to {
    color: orangered;
  }
}

@keyframes changingColor {
  from {
    color: #1eff00;
  }
  to {
    color: orangered;
  }
}

@-webkit-keyframes changingbackground {
  from {
    background-color: #1eff00;
  }
  to {
    background-color: orangered;
  }
}

@keyframes changingbackground {
  from {
    background-color: #1eff00;
  }
  to {
    background-color: orangered;
  }
}

.introduction {
  height: clamp(30rem, 90vh, 35rem);
  min-width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 2em;
  text-align: center;
  padding: var(--body-padding);
  color: var(--header-link-color);
}

.introduction > div:first-child, .introduction div:nth-child(2) {
  font-family: var(--special-font);
}

.introduction > div:nth-child(2) {
  font-size: 4rem;
  color: #1eff00;
  -webkit-animation-name: changingColor;
          animation-name: changingColor;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  padding: var(--body-padding);
  padding-top: 5em;
}

.about-section > .my-img {
  height: clamp(22rem, 70vh, 25rem);
  width: clamp(17rem, 50%, 22rem);
  position: relative;
}

.about-section > .my-img > img {
  height: 100%;
  width: 100%;
}

.about-section > .my-img::after {
  content: "";
  height: 0.5em;
  width: 100%;
  position: absolute;
  left: -1em;
  top: -1em;
  -webkit-animation-name: changingbackground;
          animation-name: changingbackground;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.about-section > .my-img::before {
  content: "";
  background-color: #1eff00;
  height: 100%;
  width: 0.5em;
  position: absolute;
  left: -1em;
  top: -1em;
  -webkit-animation-name: changingbackground;
          animation-name: changingbackground;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.about-section > div {
  width: 50%;
  min-width: 15rem;
  height: clamp(22rem, 70vh, 25rem);
}

.my-photo {
  height: 80%;
  width: 35%;
  min-width: 17rem;
  border-radius: 2rem;
}

@media screen and (max-width: 1040px) {
  :root {
    --body-padding: 2em 5em;
  }
}

@media screen and (max-width: 862px) {
  :root {
    --body-padding: 2em 3em;
  }
}

@media screen and (max-width: 800px) {
  .nav-flex-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .nav-links {
    display: none;
  }
  #menu-icon {
    display: block;
    padding: 0;
  }
}

@media screen and (max-width: 750px) {
  .about-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */